body {
	background: linear-gradient(to bottom right, black , darkblue);
}
#header {
    text-align: center;
    width: 300px;
}
#header1 {
	font-size: 22px;
	font-family: "Verdana";
    font-weight: bold;
    color: #BA245F;
    text-transform: uppercase;
    float: left;
}
#header2 {
    font-size: 22px;
    font-family: "Verdana";
    color: #F19759;
    text-transform: uppercase;
}
#subheader {
    font-size: 26px;
    font-family: "Tahoma";
    color: #E3E3E3;
}
#gameArea {
	width: 900px;
	margin: 0 auto;
}
#scoreBoard {
	border: double 3px #E3E3E3;
		width: 250px;
		height: 450px;
		float: left;
		margin-right: 50px;
		margin-left: 50px;
		font-family: "Tahoma";
}
#scoreBoardHeader {
	font-size: 26px;
	font-family: "Tahoma";
    color: #E3E3E3;
}
.playerNames {
	font-size: 18px;
	font-family: "Tahoma";
    color: #E3E3E3;
}
.scores {
	font-size: 80px;
	font-family: "Tahoma";
    color: #E3E3E3;
}
button {
	width: 150px;
	height: 55px;
	border-radius: 15px;
	font-size: 24px;
	padding-bottom: 5px;
	background-color: #E3E3E3;
	font-family: "Verdana";
}
#board {
	height: 450px;
	width: 450px;
	overflow: hidden;
}
.squares {
	height: 150px;
	width: 150px;
	float: left;
	margin: -3px;
	border: 3px solid #E3E3E3;	
	font-size: 100px;
	font-family: "Palatino Linotype";
    color: #E3E3E3;
}
.squares:hover {
	border-style: dashed;			
}
.center {
	text-align: center;
	margin: 25 auto;
}